.contenedorConfirmarAsistencia {
    width: 260px;
    max-width: 90vw;
}

.conteneforForm {
    width: 500px;
    max-width: 90vw;
    height: 70vh;
}

.listaInvitados {
    margin-top: 6px;
}

::ng-deep .mat-mdc-option{
    min-height: 36px !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    width: 100%;
}

::ng-deep .mat-mdc-optgroup-label .mdc-list-item__primary-text{
    padding-left: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    font-family: 'Allison' !important;
    font-size: 32px !important;
}

::ng-deep .mat-mdc-optgroup-label .mdc-list-item__primary-text i{
    position: absolute;
    left: 18px;
    font-size: 18px;
    margin-left: 4px;
}

.decisionAsistencia {
    padding-bottom: 24px;
}

.decisionAsistencia p {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 8px;
}

.decisionAsistencia mat-radio-button {
    margin: 0 4px;
}

.infoAdicional {
    margin-bottom: 24px;
}

.infoAdicional p {
    padding: 20px 0 10px;
    border-top: solid 1px rgba(0, 0, 0, .2);
    margin: 0;
    font-weight: 100;
}

.botonConfirmacion {
    background: #5e6e4a;
}

.botonConfirmacion.mat-mdc-raised-button[disabled][disabled]{
    background: #ccc;
}