.contenedorGeneral {
    overflow: hidden;
}

.loaderWeb{
    width: 100%;
        height: 100%;
        background: #fffef6;
        overflow: hidden;
}

.loaderWeb app-loader{
    transform: scale(8);
        opacity: 0.1;
}

/* ENCABEZADO */

.encabezado {
    position: relative;
    height: 100vh;
}

.imgPrincipal {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(0.9);
}

.dataInfo {
    position: absolute;
    bottom: 30px;
    color: #fff;
    width: 100%;
    height: 100%;
}

.dataInfo>div {
    display: flex !important;
}

.dataInfo .fechaBodaEncabezado {
    font-weight: 400;
    text-shadow: 1px 1px 10px black;
}

.dataInfo .fechaBodaEncabezado:before,
.dataInfo .fechaBodaEncabezado:after {
    border-top: 1px solid #fff;
    content: '';
    display: table-cell;
    position: relative;
    top: 0;
    width: 80px;
}

.dataInfo .fechaBodaEncabezado:before {
    left: -12px;
}

.dataInfo .fechaBodaEncabezado:after {
    right: -12px;
}

.dataInfo .nombreEl,
.dataInfo .nombreElla {
    font-size: 140px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .7);
    line-height: 130px;
}

.dataInfo .conectorNombres {
    font-size: 50px;
    line-height: 10px;
    height: 40px;
    width: 50px;
    background: #ededed;
    color: #1a2012;
    border-radius: 40px;
    padding-top: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}

.dataInfo .fraseEncabezado {
    border-top: solid 1px;
    padding: 20px 60px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 100;
}

.contenedorFlores {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.contenedorFlores img {
    position: absolute;
}

.contenedorFlores .imgArribaIzq {
    top: 0;
    left: 0;
}

.contenedorFlores .imgArribaDer {
    top: 0;
    right: 0;
}

.contenedorFlores .imgAbajoDer {
    bottom: 0;
    right: 0;
}

.contenedorFlores .imgAbajoIzq {
    bottom: 0;
    left: 0;
}

.scrollAbajo {
    bottom: -50px;
    position: absolute;
    left: calc(50% - 25px);
    color: #fff;
    font-size: 50px;
}

.encabezado svg {
    position: absolute;
    z-index: auto;
    left: 0;
    bottom: 0;
    transform: rotate(180deg);
    width: 100%;
    height: 120px;
    fill: #FFFFFF;
}

.encabezado svg.separador2 {
    height: 500px;
}

.contenedorEslogan {
    position: relative;
    min-height: 150px;
    padding-top: 40px;
}

.contenedorEslogan .eslogan {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.comillaIni {
    color: #ccc;
    font-size: 24px;
    margin-right: 12px;
}

.comillaFin {
    color: #ccc;
    font-size: 24px;
    margin-right: 0;
    margin-left: 12px;
}

.contenedorEslogan .eslogan .autor {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: right;
    letter-spacing: 2px;
    line-height: 26px;
}

/* ENCABEZADO 2 */

.encabezado2 {
    height: 100%;
}

.argollas {
    width: 100px;
    height: auto;
    margin-bottom: 12px;
    filter: grayscale(100%) brightness(300%);
    filter: brightness(10) grayscale(1);
}

.dataInfo.encabezado2 .nombreEl,
.dataInfo.encabezado2 .nombreElla {
    font-size: 80px;
    line-height: 40px;
}

.dataInfo.encabezado2 .conectorNombres {
    width: auto;
    height: auto;
    font-size: 30px;
    line-height: 10px;
    border-radius: 40px;
    padding-top: 24px;
    margin: 0 20px 0 14px;
    background: inherit;
    color: #fff;
    box-shadow: none;
}

.dataInfo.encabezado2 .fraseEncabezado {
    margin-top: 50px;
}

.dataInfo.encabezado2 .fechaBodaEncabezado:before,
.dataInfo.encabezado2 .fechaBodaEncabezado:after {
    width: 50px;
}

/* ENCABEZADO3 */

.dataInfo.encabezado3 .subcontenedorNombres {
    margin-top: 40px;
}

.dataInfo.encabezado3 .nombreEl,
.dataInfo.encabezado3 .nombreElla {
    font-size: 200px;
    line-height: 40px;
}

.dataInfo.encabezado3 .nombreEl {
    margin-bottom: 110px;
    margin-right: 24px;
}

.dataInfo.encabezado3 .nombreElla {
    margin-top: 110px;
    margin-left: -60px;
}

.dataInfo.encabezado3 .conectorNombres {
    width: 50px;
    margin: 0;
    font-size: 240px;
    background: inherit;
    color: #fff;
    opacity: 0.6;
    box-shadow: none;
}

.scrollAbajo {
    position: initial;
    color: #fff;
    font-size: 50px;
    margin-top: 50px;
}

/* CONTEO REGRESIVO */

.contenedorConteoRegresivo {
    position: relative;
    padding-bottom: 100px;
}

.contenedorConteoRegresivo .fechaBoda {
    padding: 40px 0;
}

.contenedorConteoRegresivo .fechaBoda.tipoConteo2 {
    padding: 160px 0 110px;
}

.contenedorConteoRegresivo .fondoFloresFecha {
    position: absolute;
    transform: scale(1.5);
}

.contenedorConteoRegresivo .fechaSup {
    max-width: 80vw;
    transform: rotate(180deg);
    padding-top: 32px;
    padding-bottom: 0;
}

.contenedorConteoRegresivo .fechaInf {
    padding-top: 24px;
    max-width: 80vw;
}

.contenedorConteoRegresivo .fechaBoda .dia {
    font-size: 120px;
    margin: 0;
    text-align: center;
    line-height: 110px;
    padding-left: 8px;
}

.contenedorConteoRegresivo .fechaBoda .mes {
    font-family: 'Allison';
    font-size: 100px;
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.contenedorConteoRegresivo .fechaBoda .year {
    font-size: 20px;
    margin: 0;
    line-height: 50px;
    text-align: right;
    letter-spacing: 12px;
    color: #d2cdcd;
    width: 210px;
}

.contenedorConteoRegresivo .fechaBoda.tipoConteo2 .dia {
    padding-left: 6px;
}

.contenedorConteoRegresivo .fechaBoda.tipoConteo2 .year {
    text-align: center;
    padding-left: 36px;
}

.contenedorConteoRegresivo .conteo {
    width: 100%;
    margin: 24px 0 40px;
}

.contenedorConteoRegresivo .conteo .valorRegresivo {
    padding: 12px 24px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    width: 60px;
}

.contenedorConteoRegresivo .conteo .valorRegresivo:last-child {
    border-right: none;
}

.contenedorConteoRegresivo .conteo .valorRegresivo .titulo {
    font-size: 12px;
}

.contenedorConteoRegresivo .conteo .valorRegresivo .valor {
    font-size: 40px;
    font-weight: 500;
}

.imgsBordes {
    position: absolute;
    z-index: 99999;
}

.imgIzq {
    top: -70px;
    left: 0;
}

.imgDer {
    right: 0;
    bottom: -50px;
}

/* CEREMONIA */

.contenedorCeremonia {
    padding: 50px 0 80px;
    position: relative;
}

.contenedorCeremonia .tituloSeccion{
    margin-bottom: 60px;
}

.contenedorCeremonia .icoCeremonia{
    width: 270px;
    font-size: 230px;
    color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.contenedorCeremonia .ceremoniaColumn{
    flex-direction: column;
    margin-top: 24px;
    grid-gap: 90px;
}

.contenedorCeremonia .contenedorHora,
.contenedorCeremonia .contenedorLugar {
    margin: 0 12px;
    width: 250px;
}

.contenedorCeremonia .contenedorHora .tituloHora,
.contenedorCeremonia .contenedorLugar .tituloLugar {
    margin: 0;
    font-size: 18px;
    font-weight: 200;
}

.contenedorCeremonia .contenedorLugar .subcontenedorLugar {
    height: 70px;
}

.contenedorCeremonia .contenedorHora .datoHora,
.contenedorCeremonia .contenedorLugar .datoLugar {
    margin: 0 30px 12px;
    font-size: 34px;
    font-weight: 800;
}

.contenedorCeremonia .contenedorLugar .datoLugar {
    margin-bottom: 0;
    font-size: 24px;
}

.contenedorCeremonia .contenedorLugar .datoLugar3 {
    font-size: 12px;
    color: #bbb;
}

.contenedorCeremonia .contenedorHora .datoHora {
    margin-bottom: 0;
    height: 70px;
}

.contenedorCeremonia .contenedorHora .textoHora {
    font-size: 12px;
    color: #bbb;
    font-weight: 400;
}

.contenedorCeremonia .contenedorHora button,
.contenedorCeremonia .contenedorLugar button {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.opcionAgenda ::ng-deep .mat-mdc-menu-item-text,
.opcionAgenda ::ng-deep .mat-mdc-menu-item-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.opcionAgenda i {
    font-size: 20px;
    margin: 0 10px 0 2px;
}

.opcionAgenda img {
    margin-right: 6px;
}

.opcionAgenda img.google{
        width: 20px;
}

.opcionAgenda img.imgMicrosoft {
    width: 16px;
    margin: 0 8px 0 2px;
}

.opcionAgenda img.imgWaze {
    width: 30px;
    margin-right: 2px
}

.opcionAgenda img.imgGoogleMaps {
    width: 22px;
    margin-left: 6px;
}

.contenedorCeremoniaTipo2{
        border: dashed 1px rgba(0, 0, 0, .2);
            border-radius: 14px;
            margin-top: 20px;
            margin-bottom: 16px;
            padding: 12px 12px;
}

.tituloCeremoniaTipo2{
    margin: 6px 0 0px;
        font-size: 12px;
        font-weight: 100;
}

.ceremoniaTipo2 .contenedorCeremonia .contenedorHora button,
.ceremoniaTipo2 .contenedorCeremonia .contenedorLugar button {
    margin-top: 4px;
}

.ceremoniaTipo2 ::ng-deep .mat-mdc-menu-item{
    padding-left: 12px;
    padding-right: 12px;
}

.ceremoniaTipo2 .opcionAgenda div{
    text-align: center;
}

.ceremoniaTipo2 .opcionAgenda i {
        font-size: 44px;
            margin: 0 0 4px;
}

.ceremoniaTipo2 .opcionAgenda img.imgMicrosoft {
        width: 32px;
            margin: 0 0 0 4px;
}

.ceremoniaTipo2 .opcionAgenda img.imgWaze {
    width: 50px;
    margin-right: 2px
}

.ceremoniaTipo2 .opcionAgenda img.imgGoogleMaps {
        width: 37px;
            margin-left: 0px;
            margin-bottom: 4px;
}

.ceremoniaTipo2 .opcionAgenda img.imgGoogle{
        margin: 0;
            width: 42px;
}

.contenedorTitulo{
    width: 100%;
}

.tituloSeccion {
    font-size: 120px;
    margin: 0;
    line-height: 65px;
        text-align: center;
        max-width: 85%;
}

.titulosTipo2 .tituloSeccion {
    font-family: 'Raleway';
    font-size: 60px;
    margin: 16px 0 24px;
    font-weight: 700;
}

.icoSeccion {
    font-size: 90px;
    line-height: 1px;
    padding-left: 70px;
    color: #e6e6e6;
}

.titulosTipo2 .icoSeccion {
    font-size: 90px;
    line-height: 60px;
    padding-left: 0;
    color: #e6e6e6;
    margin: 0;
}

.contenedorFiesta .imgsBordes{
    transform: scaleX(-1);
}

/* SECCION FOTOS */

.contenedorFotos {
    position: relative;
    padding: 60px 0 160px;
}

.contenedorFotos .contenedorTitulo.tipoFoto2 {
    margin-bottom: 50px;
}

.contenedorFotos .tituloSeccion {
    font-size: 70px;
    margin-bottom: 24px;
}

.titulosTipo2 .contenedorFotos .tituloSeccion {
    font-size: 44px;
}

.contenedorFotos .contenedorFoto {
    padding: 24px 24px 100px;
    margin: 24px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.contenedorFotos .contenedorFoto img {
    height: 300px;
    object-fit: cover;
}

.contenedorFotos .contenedorFotoTipo2 img {
    object-position: center center;
    height: 20vw;
    width: 20vw;
    margin: 20px;
    border-radius: 100%;
    background: #fff;
    border: solid 8px rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

.contenedorFotos .contenedorFotoTipo3 img {
    mask: url('/assets/imgs/mascaraTipoFoto3.svg') no-repeat center;
    mask-size: cover;

    -webkit-mask: url('/assets/imgs/mascaraTipoFoto3.svg') no-repeat center;
    -webkit-mask-size: cover;
}

.contenedorFotos .contenedorFotoTipo4 img {
    mask: url('/assets/imgs/mascaraTipoFoto4.svg') no-repeat center;
    mask-size: cover;

    -webkit-mask: url('/assets/imgs/mascaraTipoFoto4.svg') no-repeat center;
    -webkit-mask-size: cover;
}

/* VESTUARIO */

.contenedorCodigoVestuario {
    padding: 100px 0 80px;
    position: relative;
    /* background: url('/assets/imgs/fondo.svg'); */
    background-attachment: inherit;
    background-repeat: inherit;
    background-size: 30px;
    background-blend-mode: overlay;
}

.contenedorCodigoVestuario .imgIzq,
.contenedorCodigoVestuario .imgDer {
    opacity: .05 !important;
}

.contenedorCodigoVestuario .separadorTop {
    transform: rotate(180deg);
    top: -80px;
    position: absolute;
    width: 100%;
    height: 80px;
}

.contenedorCodigoVestuario .separadorBottom {
    bottom: -72px;
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.contenedorCodigoVestuario .imgVestuario {
    max-width: 95vw;
    height: 460px;
    margin: 0;
    object-fit: contain;
}

.contenedorCodigoVestuario .contenedor {
    align-items: baseline;
}

.contenedorCodigoVestuario .icoSeccion {
    line-height: 100px;
    color: #000000;
    opacity: 0.1;
}

.titulosTipo2 .contenedorCodigoVestuario .icoSeccion {
    line-height: 120px;
    margin: 0;
}

.contenedorCodigoVestuario .tituloSeccion {
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}

.titulosTipo2 .contenedorCodigoVestuario .tituloSeccion {
    padding-bottom: 0;
}

.contenedorCodigoVestuario .grupo {
    margin-bottom: 20px;
    align-items: baseline;
}

.contenedorCodigoVestuario .grupo .cursiva {
    font-size: 80px;
    margin: 0;
    position: relative;
}

.contenedorCodigoVestuario .grupo i {
    color: #e60023;
    font-size: 20px;
    position: absolute;
    top: 30px;
    padding-left: 16px;
    cursor: pointer;
}

.contenedorCodigoVestuario .grupo span {
    padding-left: 24px;
    font-size: 14px;
    font-weight: 200;
}

.contenedorCodigoVestuario .grupo .coloresSugeridos {
    padding-left: 30px;
    margin-top: 12px;
}

.contenedorCodigoVestuario .grupo .coloresSugeridos div {
    width: 20px;
    height: 20px;
    border-radius: 16px;
    margin-right: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.contenedorCodigoVestuario .tenPresente {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    opacity: 0.2;
}

.contenedorCodigoVestuario .notaGeneral {
    padding-left: 24px;
    font-size: 12px;
    font-weight: 600;
    align-items: baseline;
}

.contenedorCodigoVestuario .notaGeneral i {
    font-size: 14px;
}

.contenedorCodigoVestuario .notaGeneral .coloresReservados {
    margin-top: 8px;
}

.contenedorCodigoVestuario .notaGeneral .coloresReservados i {
    border-radius: 16px;
    margin-right: 8px;
    padding: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* REGALOS */

.contenedorRegalos {
    padding: 140px 0;
    position: relative;
}

.contenedorRegalos .imgDer {
    bottom: -150px;
}

.contenedorRegalos .icoSeccion {
    line-height: 100px;
}

.titulosTipo2 .contenedorRegalos .icoSeccion {
    line-height: 80px;
    margin: 0;
}

.contenedorRegalos .tituloSeccion {
    padding-bottom: 40px;
}

.titulosTipo2 .contenedorRegalos .tituloSeccion {
    padding-bottom: 0;
}

.titulosTipo3 .contenedorTitulo {
    margin-bottom: 24px;
}

.contenedorRegalos .contenedor {
    width: 400px;
}

.contenedorRegalos .contenedor span {
    font-size: 21px;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 40px;
    font-weight: 100;
}

.contenedorRegalos .contenedor .cursiva {
    font-size: 70px;
    margin: 24px 0 0;
}


/* CONFIRMACION ASISTENCIA */

.confirmacionInvitados {
    padding: 80px 0 10px;
    position: relative;
}

.confirmacionInvitados .separadorTop {
    transform: rotate(180deg);
    top: -80px;
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.confirmacionInvitados .separadorBottom {
    bottom: -500px;
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 999;
}

.confirmacionInvitados .icoSeccion {
    line-height: 120px;
    padding-left: 142px;
}

.titulosTipo2 .confirmacionInvitados .icoSeccion {
    padding: 0;
    line-height: 90px;
    margin: 0;
}

.confirmacionInvitados .tituloSeccion {
    padding-bottom: 40px;
}

.titulosTipo2 .confirmacionInvitados .tituloSeccion {
    padding-bottom: 0;
}

.titulosTipo2 .confirmacionInvitados .tituloSeccion .cursiva {
    font-family: 'Raleway';
    font-size: 60px;
}

.confirmacionInvitados .contenedor {
    margin-bottom: 40px;
}

.confirmacionInvitados .textoGracias {
    margin: 30px 0 12px;
    font-size: 18px;
    font-weight: 400;
}

.confirmacionInvitados .textoGracias2 {
    width: 520px;
    max-width: 80vw;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 24px;
}

.confirmacionInvitados .imgIzq {
    top: -50px;
}

.lineaSeparadora {
    position: absolute;
    width: 100vw;
    height: 100px;
    top: -80px;
    transform: scaleX(-1);
    z-index: 999;
}

.lineaSeparadora2 {
    top: -70px;
}

.color1 path {
    stroke: #abbc91
}

.lineaSeparadora2.color1 path {
    stroke: #718355;
}

.color2 path {
    stroke: #fbc0bd
}

.lineaSeparadora2.color2 path {
    stroke: #d77365;
}

.color3 path {
    stroke: #f8cfa5
}

.lineaSeparadora2.color3 path {
    stroke: #e17525;
}

.color4 path {
    stroke: #e1bdc9
}

.lineaSeparadora2.color4 path {
    stroke: #682f45;
}

/* RECUERDOS */

.contenedorRecuerdos {
    position: relative;
    background: rgba(255, 255, 255, .7);
    height: 420px;
    padding: 60px 0 20px;
    background-position: center;
    background-size: cover;
}

.contenedorRecuerdos::before {
    content: '';
    background: rgba(255, 255, 255, .7);
    width: 100%;
    height: 100%;
    padding: 12px 0;
    position: absolute;
}

.contenedorRecuerdos .textRecuerdos {
    max-width: calc(100vw - 48px);
    text-align: center;
}

.contenedorRecuerdos .nombresRecuerdos {
    margin: 12px 12px 24px;
    font-size: 60px;
    line-height: 30px;
}

.contenedorRecuerdos .nombresRecuerdos .conectorNombres {
    margin: 12px 18px 0;
        color: #888;
            z-index: 9;
}

.contenedorRecuerdos .subcontenedorRecuerdos>i {
    font-size: 100px;
    margin: 4px 0 18px;
}

.tituloRecuerdos {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
}

.recuerdos {
    font-weight: 200;
    font-size: 16px;
}

.hashtag {
    font-size: 30px;
    margin-top: 12px;
    font-weight: 600;
}

.hashtag i {
    padding-top: 6px;
    margin-right: 10px;
}

.fondoLetrero {
    position: absolute;
    width: 500px;
    height: 100px;
    margin-bottom: 6px;
    fill: #eee;
}

.titulosTipo4 .fondoLetrero {
    width: 440px;
    height: 150px;
    margin-bottom: 4px;
}

.contenedorFotos .fondoLetrero {
    width: 640px;
}

.contenedorCodigoVestuario .fondoLetrero,
.confirmacionInvitados .fondoLetrero {
    fill: #ffffff;
}

.titulosTipo3 .contenedorRegalos .tituloSeccion {
    margin: 16px 0 34px;
}

.titulosTipo3 .contenedorRegalos .tituloSeccion {
    margin: 16px 0 34px;
}

.titulosTipo3 .confirmacionInvitados .tituloSeccion {
    margin: 16px 0 36px;
}

@media (max-width:1300px) {

    .imgIzq,
    .imgDer {
        width: 250px;
    }

    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 150px;
    }

    .dataInfo.encabezado3 .nombreEl {
        margin-right: 12px;
    }
}

@media (max-width:1180px) {
    .imgIzq {
        top: -40px;
    }

    .imgDer {
        right: 0;
        bottom: -90px;
    }

    .contenedorFotos .contenedorFotoTipo2 img {
        border: solid 6px rgba(255, 255, 255, 1);
    }
}

@media (max-width:1050px) {
    .contenedorFotos .contenedorFotoTipo2 img {
        border: solid 4px rgba(255, 255, 255, 1);
        margin: 12px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
    }
}

@media (max-width:980px) {

    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 130px;
    }

    .dataInfo.encabezado3 .nombreEl {
        margin-right: 12px;
    }
}

@media (max-width:940px) {
    .contenedorFotos .contenedorFotoTipo2 img {
        width: 27vw;
        height: 27vw;
        margin: 16px;
        border: solid 6px rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.6);
    }
}

@media (max-width:900px) {
    .contenedorFlores img {
        width: 250px;
    }

    .imgIzq,
    .imgDer {
        width: 200px;
    }

    .contenedorCeremonia {
        padding: 50px 0 60px;
    }

    .contenedorFotos {
        padding: 30px 0 100px;
    }

    .contenedorRegalos .imgDer {
        bottom: -90px;
    }

    .contenedorEslogan .eslogan {
        font-size: 30px;
    }

    .contenedorCodigoVestuario>div {
        flex-direction: column;
    }

    .contenedorCodigoVestuario {
        padding: 90px 0 70px;
    }

    .contenedorCodigoVestuario .imgVestuario {
        margin-bottom: 30px;
    }

    .contenedorCodigoVestuario .contenedor {
        align-items: center;
    }

    .contenedorCodigoVestuario .grupo {
        width: 200px;
        align-items: center;
    }

    .contenedorCodigoVestuario .grupo span {
        text-align: center;
    }

    .contenedorCodigoVestuario .notaGeneral {
        text-align: center;
        align-items: center;
    }

    .contenedorRegalos {
        padding: 110px 0 180px;
    }

    .contenedorRegalos>div {
        flex-direction: column-reverse;
    }

    .contenedorRegalos img {
        margin: 30px 0 20px;
    }

    .contenedorRegalos .contenedor span {
        margin-right: 0;
        padding-left: 12px;
        max-width: 80vw;
    }

    .contenedorFotos {
        padding: 60px 0 100px;
    }
}

@media (max-width:820px) {

    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 110px;
    }

    .dataInfo.encabezado3 .nombreEl {
        margin-bottom: 90px;
        margin-right: -8px;
    }

    .dataInfo.encabezado3 .conectorNombres {
        width: 50px;
        margin: 0;
        font-size: 110px;
        transform: rotate(13deg);
    }

    .dataInfo.encabezado3 .nombreElla {
        margin-top: 80px;
        margin-left: -50px;
    }
}

@media (max-width:750px) {
    .contenedorFlores img {
        width: 200px;
    }

    .contenedorFotos .contenedorFotoTipo2 img {
        width: 40vw;
        height: 40vw;
        border: solid 6px rgba(255, 255, 255, 1);
    }
}

@media (max-width:650px) {
    .contenedorEslogan .eslogan {
        font-size: 24px;
    }

    .comillaIni,
    .comillaFin {
        font-size: 14px;
    }

    .contenedorCodigoVestuario .imgIzq,
    .contenedorCodigoVestuario .imgDer {
        display: none;
    }
}

@media (max-width:700px) {
    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 90px;
    }

    .contenedorCeremonia .icoCeremonia {
        width: 240px;
        font-size: 210px;
    }
}

@media (max-width:650px) {
    .contenedorCeremonia .ceremoniaColumn {
        margin-top: 8px;
    }
    
    .contenedorCeremonia .ceremoniaColumn > div {
        flex-direction: column;
    }

    .contenedorCeremonia .ceremoniaColumn>div:last-child{
        flex-direction: column-reverse;
    }

    .contenedorCeremonia .ceremoniaColumn .icoCeremonia{
        margin-bottom: 16px;
        font-size: 120px;
    }
}

@media (max-width:600px) {
    .contenedorCeremonia>div {
        flex-direction: column;
    }

    .contenedorCeremonia .contenedorHora {
        margin-top: 16px;
        margin-bottom: 50px;
    }

    .contenedorCeremonia {
        padding: 120px 0 130px;
    }

    .contenedorCeremonia .imgDer {
        bottom: -30px;
    }

    .contenedorFotos {
        padding: 40px 0 120px;
    }

    .contenedorRecuerdos .subcontenedorRecuerdos>i {
        font-size: 80px;
    }

    .tituloRecuerdos {
        font-size: 18px;
    }

    .recuerdos {
        font-size: 14px;
    }

    .hashtag {
        font-size: 24px;
    }
}

@media (max-width:570px) {
    .dataInfo.encabezado3 .subcontenedorNombres {
        flex-direction: column;
    }

    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 120px;
    }

    .dataInfo.encabezado3 .nombreEl {
        margin-bottom: 48px;
        margin-right: 0;
    }

    .dataInfo.encabezado3 .conectorNombres {
        font-size: 110px;
        transform: rotate(54deg);
    }

    .dataInfo.encabezado3 .nombreElla {
        margin-top: 4px;
        margin-left: 0;
    }
}

@media (max-width:530px) {
    .contenedorFlores img {
        width: 130px;
    }

    .imgIzq,
    .imgDer {
        width: 130px;
    }

    .contenedorEslogan .eslogan {
        font-size: 20px;
    }

    .comillaIni,
    .comillaFin {
        font-size: 12px;
    }

    .contenedorEslogan .eslogan .autor {
        font-size: 30px;
    }

    .contenedorCeremonia {
        padding: 70px 0 50px;
    }

    .contenedorRegalos {
        padding: 140px 0 180px;
    }

    .contenedorRegalos .imgIzq {
        top: -50px;
    }

    .contenedorRegalos .imgDer {
        bottom: -60px;
    }

    .titulosTipo2 .tituloSeccion,
    .titulosTipo2 .contenedorCodigoVestuario .tituloSeccion .cursiva,
    .titulosTipo2 .contenedorRegalos .tituloSeccion .cursiva,
    .titulosTipo2 .confirmacionInvitados .tituloSeccion .cursiva {
        font-size: 50px;
    }

    .titulosTipo3 .tituloSeccion,
    .titulosTipo4 .tituloSeccion,
    .titulosTipo3 .contenedorCodigoVestuario .tituloSeccion .cursiva,
    .titulosTipo4 .contenedorCodigoVestuario .tituloSeccion .cursiva,
    .titulosTipo3 .contenedorRegalos .tituloSeccion .cursiva,
    .titulosTipo4 .contenedorRegalos .tituloSeccion .cursiva,
    .titulosTipo3 .confirmacionInvitados .tituloSeccion .cursiva,
    .titulosTipo4 .confirmacionInvitados .tituloSeccion .cursiva {
        font-size: 44px;
    }

    .titulosTipo2 .contenedorFotos .tituloSeccion {
        font-size: 30px;
    }

    .fondoLetrero {
        width: 400px;
        height: 90px;
    }

    .titulosTipo4 .fondoLetrero {
        width: 350px;
        height: 120px;
    }

    .contenedorFotos .fondoLetrero {
        width: 420px;
        height: 70px;
    }

    .titulosTipo4 .contenedorFotos .fondoLetrero {
        width: 380px;
        height: 90px;
    }
}

@media (max-width:500px) {
    .contenedorConteoRegresivo .conteo .valorRegresivo {
        padding: 12px;
    }

    .imgIzq {
        top: -20px;
    }

    .imgDer {
        right: 0;
        bottom: -60px;
    }

    .dataInfo.encabezado2 .subcontenedorNombres {
        flex-direction: column;
    }

    .dataInfo.encabezado2 .subcontenedorNombres .conectorNombres {
        margin: 12px 0 34px;
    }

    .dataInfo.encabezado2 .fraseEncabezado {
        padding: 0px;
        width: calc(100% - 48px);
        max-width: 250px;
    }

    .contenedorFotos .contenedorFotoTipo2 img {
        object-position: center center;
        width: 80vw;
        height: 80vw;
        margin: 20px;
        border-radius: 100%;
        border: solid 6px rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
    }
}

@media (max-width:480px) {
    .contenedorRegalos .contenedor span {
        font-size: 16px;
    }

    .contenedorRegalos .contenedor .cursiva{
        text-align: center;
        line-height: 1;
    }

    .contenedorRecuerdos .subcontenedorRecuerdos>i {
        font-size: 80px;
    }

    .tituloRecuerdos {
        font-size: 16px;
    }

    .recuerdos {
        font-size: 12px;
    }

    .hashtag {
        font-size: 24px;
    }

    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 100px;
    }

    .dataInfo.encabezado3 .nombreEl {
        margin-bottom: 38px;
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .fondoFloresFecha {
        position: absolute;
        transform: scale(1.2);
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .dia {
        font-size: 100px;
        line-height: 100px;
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .mes {
        font-size: 80px;
        line-height: 32px;
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .year {
        text-align: center;
        padding-left: 30px;
    }

    .contenedorCodigoVestuario .imgVestuario {
        height: auto;
        margin-top: 50px;
    }
}

@media (max-width:430px) {
    .contenedorEslogan .eslogan {
        font-size: 16px;
    }

    .contenedorEslogan .eslogan .autor {
        font-size: 24px;
    }

    .icoSeccion {
        font-size: 70px;
    }

    .titulosTipo2 .icoSeccion {
        font-size: 70px;
        line-height: 40px;
    }

    .titulosTipo2 .contenedorCodigoVestuario .icoSeccion {
        line-height: 100px;
    }

    .titulosTipo2 .contenedorRegalos .icoSeccion {
        line-height: 60px;
    }

    .titulosTipo2 .confirmacionInvitados .icoSeccion {
        line-height: 60px;
    }

    .tituloSeccion {
        font-size: 90px;
        line-height: 54px;
    }

    .contenedorRegalos img {
        max-width: 70vw;
    }

    .contenedorRegalos .contenedor .cursiva {
        font-size: 54px;
    }

    .confirmacionInvitados .icoSeccion {
        line-height: 110px;
        padding-left: 76px;
    }

    .confirmacionInvitados .textoGracias {
        margin: 12px 0;
    }

    .contenedorCeremonia .imgIzq {
        top: -30px;
    }

    .contenedorCeremonia .imgDer {
        right: 0;
        bottom: -30px;
    }

    .contenedorFotos .tituloSeccion {
        font-size: 50px;
    }
}

@media (max-width:400px) {
    .encabezado {
        position: relative;
        height: calc(100vh - 40px);
    }

    .scrollAbajo {
        bottom: -50px;
    }

    .dataInfo .nombreEl,
    .dataInfo .nombreElla {
        font-size: 100px;
    }

    .contenedorConteoRegresivo .fechaBoda .dia {
        font-size: 100px;
        line-height: 110px;
    }

    .contenedorConteoRegresivo .fechaBoda .mes {
        font-size: 80px;
        line-height: 40px;
    }

    .contenedorConteoRegresivo .fechaBoda .year {
        width: 130px;
    }

    .contenedorConteoRegresivo .conteo .valorRegresivo {
        padding: 12px 6px;
    }

    .confirmacionInvitados .textoGracias {
        width: 180px;
        text-align: center;
        font-weight: 700;
    }

    .contenedorRecuerdos {
        position: relative;
        height: 460px;
        padding: 70px 0 20px;
    }

    .contenedorRecuerdos .subcontenedorRecuerdos>i {
        font-size: 80px;
    }

    .tituloRecuerdos {
        font-size: 24px;
        width: 290px;
        margin-bottom: 6px;
    }

    .recuerdos {
        font-size: 14px;
        width: 280px;
        margin-bottom: 6px;
    }

    .hashtag {
        font-size: 24px;
    }

    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 80px;
    }

    .dataInfo.encabezado3 .nombreEl {
        margin-bottom: 28px;
    }

    .dataInfo.encabezado3 .conectorNombres {
        font-size: 90px;
    }

    .titulosTipo3 .tituloSeccion,
    .titulosTipo3 .contenedorCodigoVestuario .tituloSeccion .cursiva,
    .titulosTipo3 .contenedorRegalos .tituloSeccion .cursiva,
    .titulosTipo3 .confirmacionInvitados .tituloSeccion .cursiva {
        font-size: 40px;
    }

    .titulosTipo3 .contenedorFotos .tituloSeccion {
        font-size: 24px;
    }

    .fondoLetrero {
        width: 340px;
        height: 80px;
    }

    .titulosTipo4 .fondoLetrero {
        width: 350px;
        height: 120px;
    }

    .contenedorFotos .fondoLetrero {
        width: 350px;
        height: 60px;
    }

    .titulosTipo4 .contenedorFotos .fondoLetrero {
        width: 380px;
        height: 90px;
    }
}

@media (max-width:380px) {
    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .fondoFloresFecha {
        transform: scale(1);
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .dia {
        font-size: 70px;
        line-height: 70px;
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .mes {
        font-size: 60px;
        line-height: 20px;
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .year {
        padding-left: 22px;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 4px;
    }
}

@media (max-width:350px) {
    .contenedorEslogan .eslogan {
        font-size: 20px;
        padding: 0 40px;
    }

    .contenedorEslogan .eslogan .autor {
        font-size: 30px;
        line-height: 50px;
    }

    .contenedorConteoRegresivo .conteo .valorRegresivo {
        padding: 12px 4px;
        width: 48px;
    }

    .contenedorConteoRegresivo .conteo .valorRegresivo .titulo {
        font-size: 10px;
    }

    .contenedorConteoRegresivo .conteo .valorRegresivo .valor {
        font-size: 30px;
    }

    .contenedorConteoRegresivo .fechaBoda {
        padding: 20px 0;
    }

    .contenedorConteoRegresivo .conteo {
        margin: 0 0 40px;
    }

    .icoSeccion {
        font-size: 50px;
    }

    .titulosTipo2 .icoSeccion {
        font-size: 50px;
        line-height: 20px;
    }

    .titulosTipo2 .contenedorCodigoVestuario .icoSeccion {
        line-height: 80px;
    }

    .titulosTipo2 .contenedorRegalos .icoSeccion {
        line-height: 40px;
    }

    .titulosTipo2 .confirmacionInvitados .icoSeccion {
        line-height: 40px;
    }

    .tituloSeccion {
        font-size: 60px;
        line-height: 34px;
    }

    .contenedorCeremonia {
        padding: 70px 0 70px;
    }

    .contenedorCeremonia .imgIzq {
        top: 0px;
    }

    .contenedorCodigoVestuario .icoSeccion {
        line-height: 80px;
    }

    .contenedorCodigoVestuario .tituloSeccion {
        padding-bottom: 12px;
        margin-bottom: 0px;
    }

    .contenedorCodigoVestuario .grupo .cursiva {
        font-size: 60px;
        margin: 20px 0;
        text-align: center;
    }

    .contenedorCodigoVestuario .grupo i {
        font-size: 16px;
        padding-left: 8px;
    }

    .contenedorCodigoVestuario .grupo span {
        padding-left: 0;
    }

    .contenedorCodigoVestuario .tenPresente {
        margin-bottom: 6px;
    }

    .contenedorCodigoVestuario .notaGeneral {
        padding-left: 12px;
        max-width: 80vw;
    }

    .contenedorRegalos .icoSeccion {
        line-height: 70px;
    }

    .contenedorRegalos img {
        margin: 10px 0 14px;
        width: 120px;
    }

    .contenedorRegalos .contenedor .cursiva {
        font-size: 44px;
    }

    .confirmacionInvitados .icoSeccion {
        line-height: 80px;
        padding-left: 55px;
    }

    .contenedorFotos .tituloSeccion {
        font-size: 40px;
        margin-bottom: 0;
    }

    .contenedorRegalos .imgDer {
        bottom: -40px;
    }

    .contenedorRecuerdos {
        position: relative;
        height: 460px;
        padding: 70px 0 20px;
    }

    .contenedorRecuerdos .nombresRecuerdos {
        font-size: 46px;
    }

    .contenedorRecuerdos .subcontenedorRecuerdos>i {
        font-size: 80px;
    }

    .tituloRecuerdos {
        margin: 12px 12px 24px;
        font-size: 24px;
        width: 100%;
    }

    .recuerdos {
        width: 240px;
        max-width: calc(100% - 16px);
    }

    .hashtag {
        font-size: 24px;
    }

    .dataInfo.encabezado3 .nombreEl,
    .dataInfo.encabezado3 .nombreElla {
        font-size: 68px;
    }

    .dataInfo.encabezado3 .nombreEl {
        margin-bottom: 20px;
    }

    .titulosTipo2 .tituloSeccion,
    .titulosTipo2 .contenedorCodigoVestuario .tituloSeccion .cursiva,
    .titulosTipo2 .contenedorRegalos .tituloSeccion .cursiva,
    .titulosTipo2 .confirmacionInvitados .tituloSeccion .cursiva {
        font-size: 40px;
    }

    .titulosTipo3 .tituloSeccion,
    .titulosTipo4 .tituloSeccion,
    .titulosTipo3 .contenedorCodigoVestuario .tituloSeccion .cursiva,
    .titulosTipo4 .contenedorCodigoVestuario .tituloSeccion .cursiva,
    .titulosTipo3 .contenedorRegalos .tituloSeccion .cursiva,
    .titulosTipo4 .contenedorRegalos .tituloSeccion .cursiva,
    .titulosTipo3 .confirmacionInvitados .tituloSeccion .cursiva,
    .titulosTipo4 .confirmacionInvitados .tituloSeccion .cursiva {
        font-size: 30px;
    }

    .titulosTipo2 .contenedorFotos .tituloSeccion {
        font-size: 16px;
        margin: 0;
    }

    .fondoLetrero {
        width: 240px;
        height: 70px;
    }

    .titulosTipo4 .fondoLetrero {
        width: 220px;
        height: 100px;
        margin-bottom: 10px;
    }

    .titulosTipo4 .contenedorCodigoVestuario .fondoLetrero {
        margin-bottom: -4px;
    }

    .contenedorFotos .fondoLetrero {
        width: 240px;
        height: 40px;
        margin-bottom: 0;
    }

    .titulosTipo4 .contenedorFotos .fondoLetrero {
        width: 230px;
        height: 60px;
    }

        .contenedorCeremonia .tituloSeccion {
            margin-bottom: 30px;
        }
}

@media (max-width:320px) {
    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .fondoFloresFecha {
        transform: scale(0.8);
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .dia {
        font-size: 50px;
        line-height: 50px;
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .mes {
        font-size: 50px;
        line-height: 20px;
    }

    .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .year {
        font-size: 12px;
        line-height: 38px;
    }
}


/* ESTILOS VISTA PREVIA */

.contenedorConteoRegresivo .fechaSup,
.contenedorConteoRegresivo .fechaInf {
    max-width: 80%;
}

.previa .lineaSeparadora{
    width: 100%;
}

.previa .contenedorCodigoVestuario>div {
    flex-direction: column;
}

.previa .contenedorCodigoVestuario {
    padding: 90px 0 70px;
}

.previa .contenedorCodigoVestuario .contenedor {
    align-items: center;
}

.previa .contenedorCodigoVestuario .grupo {
    width: 200px;
    align-items: center;
}


.previa .contenedorCodigoVestuario .notaGeneral {
    text-align: center;
    align-items: center;
    padding-left: 12px;
    max-width: 80%;
}

.previa .contenedorRegalos>div {
    flex-direction: column-reverse;
}

.previa .contenedorRegalos .contenedor span {
    margin-right: 0;
    padding-left: 12px;
    max-width: 80%;
    font-size: 16px;
}

.previa .contenedorCodigoVestuario .imgIzq,
.previa .contenedorCodigoVestuario .imgDer {
    display: none;
}


.previa .contenedorCeremonia .icoCeremonia {
    width: 240px;
    font-size: 210px;
}

.previa .contenedorCeremonia .ceremoniaColumn {
    margin-top: 8px;
}

.previa .contenedorCeremonia .ceremoniaColumn>div {
    flex-direction: column;
}

.previa .contenedorCeremonia .ceremoniaColumn>div:last-child {
    flex-direction: column-reverse;
}

.previa .contenedorCeremonia .ceremoniaColumn .icoCeremonia {
    margin-bottom: 16px;
    font-size: 120px;
}

.previa .contenedorCeremonia>div {
    flex-direction: column;
}

.previa .contenedorCeremonia .contenedorHora {
    margin-top: 16px;
    margin-bottom: 50px;
}

.previa .contenedorFotos {
    padding: 40px 0 120px;
}

.previa .hashtag {
    font-size: 24px;
}

.previa .dataInfo.encabezado3 .subcontenedorNombres {
    flex-direction: column;
}

.previa .dataInfo.encabezado3 .nombreElla {
    margin-top: 4px;
    margin-left: 0;
}

.previa .contenedorFlores img {
    width: 130px;
}

.previa .imgIzq,
.previa .imgDer {
    width: 130px;
}

.previa .comillaIni,
.previa .comillaFin {
    font-size: 12px;
}

.previa .contenedorRegalos {
    padding: 140px 0 180px;
}

.previa .contenedorRegalos .imgIzq {
    top: -50px;
}

.previa .imgIzq {
    top: -20px;
}

.previa .imgDer {
    right: 0;
    bottom: -60px;
}

.previa .dataInfo.encabezado2 .subcontenedorNombres {
    flex-direction: column;
}

.previa .dataInfo.encabezado2 .subcontenedorNombres .conectorNombres {
    margin: 12px 0 34px;
}

.previa .dataInfo.encabezado2 .fraseEncabezado {
    padding: 0px;
    width: calc(100% - 48px);
    max-width: 250px;
}

.previa .contenedorFotos .contenedorFotoTipo2 img {
    object-position: center center;
    width: 80%;
    height: 80%;
    margin: 20px;
    border-radius: 100%;
    border: solid 6px rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
}

.previa .contenedorCodigoVestuario .imgVestuario {
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.previa .contenedorCeremonia .imgDer {
    right: 0;
    bottom: -30px;
}

.previa .encabezado {
    position: relative;
    height: calc(100vh - 190px);
    min-height: 600px;
}

.previa .imgPrincipal {
    position: absolute;
    height: 100%;
}

.previa .scrollAbajo {
    bottom: -50px;
}

.previa .dataInfo .nombreEl,
.previa .dataInfo .nombreElla {
    font-size: 100px;
}

.previa .contenedorConteoRegresivo .fechaBoda .dia {
    font-size: 100px;
    line-height: 110px;
}

.previa .contenedorConteoRegresivo .fechaBoda .mes {
    font-size: 80px;
    line-height: 40px;
}

.previa .contenedorConteoRegresivo .fechaBoda .year {
    width: 130px;
}

.previa .confirmacionInvitados .textoGracias {
    width: 180px;
    text-align: center;
    font-weight: 700;
    margin: 12px 0;
}

.previa .dataInfo.encabezado3 .conectorNombres {
    width: 50px;
    margin: 0;
    font-size: 90px;
    transform: rotate(54deg);
}

.previa.titulosTipo3 .contenedorFotos .tituloSeccion {
    font-size: 24px;
}

.previa .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .year {
    padding-left: 22px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 4px;
}

.previa .contenedorEslogan .eslogan {
    font-size: 20px;
    padding: 0 40px;
}

.previa .contenedorEslogan .eslogan .autor {
    font-size: 30px;
    line-height: 50px;
}

.previa .contenedorConteoRegresivo .conteo .valorRegresivo {
    padding: 12px 4px;
    width: 48px;
}

.previa .contenedorConteoRegresivo .conteo .valorRegresivo .titulo {
    font-size: 10px;
}

.previa .contenedorConteoRegresivo .conteo .valorRegresivo .valor {
    font-size: 30px;
}

.previa .contenedorConteoRegresivo .fechaBoda {
    padding: 20px 0;
}

.previa .contenedorConteoRegresivo .conteo {
    margin: 0 0 40px;
}

.previa .icoSeccion {
    font-size: 50px;
}

.previa.titulosTipo2 .icoSeccion {
    font-size: 50px;
    line-height: 20px;
}

.previa.titulosTipo2 .contenedorCodigoVestuario .icoSeccion {
    line-height: 80px;
}

.previa.titulosTipo2 .contenedorRegalos .icoSeccion {
    line-height: 40px;
}

.previa.titulosTipo2 .confirmacionInvitados .icoSeccion {
    line-height: 40px;
}

.previa .tituloSeccion {
    font-size: 60px;
    line-height: 34px;
}

.previa .contenedorCeremonia .tituloSeccion {
    margin-bottom: 30px;
}

.previa .contenedorCeremonia {
    padding: 70px 0 70px;
}

.previa .contenedorCeremonia .imgIzq {
    top: 0px;
}

.previa .contenedorCodigoVestuario .icoSeccion {
    line-height: 80px;
}

.previa .contenedorCodigoVestuario .tituloSeccion {
    padding-bottom: 12px;
    margin-bottom: 0px;
}

.previa .contenedorCodigoVestuario .grupo .cursiva {
    font-size: 60px;
    margin: 20px 0;
    text-align: center;
}

.previa .contenedorCodigoVestuario .grupo i {
    font-size: 16px;
    padding-left: 8px;
}

.previa .contenedorCodigoVestuario .grupo span {
    text-align: center;
    padding-left: 0;
}

.previa .contenedorCodigoVestuario .tenPresente {
    margin-bottom: 6px;
}

.previa .contenedorRegalos .textoRegalos{
    width: 100%;
}

.previa .contenedorRegalos .icoSeccion {
    line-height: 70px;
}

.previa .contenedorRegalos img {
    margin: 10px 0 14px;
    width: 120px;
    max-width: 70vw;
}

.previa .contenedorRegalos .contenedor {
    max-width: 80%;
}

.previa .contenedorRegalos .contenedor .cursiva {
    font-size: 44px;
    text-align: center;
    line-height: 1;
}


.previa .confirmacionInvitados{
    width: 100%;
}

.previa .confirmacionInvitados .contenedor {
    width: 100%;
}

.previa .confirmacionInvitados .icoSeccion {
    line-height: 80px;
    padding-left: 55px;
}

.previa .confirmacionInvitados .textoGracias2 {
    max-width: 80%;
}

.previa .contenedorFotos .tituloSeccion {
    font-size: 40px;
    margin-bottom: 0px;
}

.previa .contenedorRegalos .imgDer {
    bottom: -40px;
}

.previa .contenedorRecuerdos {
    position: relative;
    max-width: 100%;
    height: 460px;
    padding: 70px 0 20px;
}

.previa .contenedorRecuerdos .subcontenedorRecuerdos{
    max-width: calc(100% - 48px);
}

.previa .contenedorRecuerdos .nombresRecuerdos {
    font-size: 46px;
}

.previa .contenedorRecuerdos .subcontenedorRecuerdos>i {
    font-size: 80px;
}

.previa .tituloRecuerdos {
    margin: 12px 12px 24px;
    font-size: 24px;
    width: 100%;
}

.previa .recuerdos {
    width: 240px;
    max-width: calc(100% - 16px);
    font-size: 14px;
    margin-bottom: 6px;
}

.previa .dataInfo.encabezado3 .nombreEl,
.previa .dataInfo.encabezado3 .nombreElla {
    font-size: 68px;
}

.previa .dataInfo.encabezado3 .nombreEl {
    margin-bottom: 20px;
    margin-right: 0;
}

.previa.titulosTipo2 .tituloSeccion,
.previa.titulosTipo2 .contenedorCodigoVestuario .tituloSeccion .cursiva,
.previa.titulosTipo2 .contenedorRegalos .tituloSeccion .cursiva,
.previa.titulosTipo2 .confirmacionInvitados .tituloSeccion .cursiva {
    font-size: 40px;
}

.previa.titulosTipo3 .tituloSeccion,
.previa.titulosTipo4 .tituloSeccion,
.previa.titulosTipo3 .contenedorCodigoVestuario .tituloSeccion .cursiva,
.previa.titulosTipo4 .contenedorCodigoVestuario .tituloSeccion .cursiva,
.previa.titulosTipo3 .contenedorRegalos .tituloSeccion .cursiva,
.previa.titulosTipo4 .contenedorRegalos .tituloSeccion .cursiva,
.previa.titulosTipo3 .confirmacionInvitados .tituloSeccion .cursiva,
.previa.titulosTipo4 .confirmacionInvitados .tituloSeccion .cursiva {
    font-size: 30px;
}

.previa.titulosTipo2 .contenedorFotos .tituloSeccion {
    font-size: 16px;
    margin: 0;
}

.previa .fondoLetrero {
    width: 240px;
    height: 70px;
}

.previa.titulosTipo4 .fondoLetrero {
    width: 220px;
    height: 100px;
    margin-bottom: 10px;
}

.previa.titulosTipo4 .contenedorCodigoVestuario .fondoLetrero {
    margin-bottom: -4px;
}

.previa .contenedorFotos .fondoLetrero {
    width: 240px;
    height: 40px;
    margin-bottom: 0;
}

.previa.titulosTipo4 .contenedorFotos .fondoLetrero {
    width: 230px;
    height: 60px;
}

.previa .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .fondoFloresFecha {
    position: absolute;
    transform: scale(0.8);
}

.previa .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .dia {
    font-size: 50px;
    line-height: 50px;
}

.previa .contenedorConteoRegresivo .fechaBoda.tipoConteo2 .mes {
    font-size: 50px;
    line-height: 20px;
}