.dataContenedor {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-gap: 40px;
    align-items: start;
    align-content: baseline;
    padding-top: 18px;
    overflow: hidden;
}

.contenedorPreviaWeb {
    position: absolute;
    right: 80px;
    top: 60px;
    height: calc(100% - 110px);
    max-height: 600px;
    container: inline-size;
}

.inputForm {
    overflow: auto;
    height: calc(100% - 16px);
    direction: rtl;
    padding-bottom: 16px;
}

.inputForm ::ng-deep mat-vertical-stepper {
    direction: ltr;
}

.contenedorInputs {
    padding: 12px 0 0;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

::ng-deep .mat-step:first-child {
    padding-top: 8px;
}

::ng-deep .mat-step:last-child {
    padding-bottom: 8px;
}

::ng-deep .mat-vertical-stepper-header {
    padding: 8px 24px !important;
}

::ng-deep .mat-step-icon {
    background-color: #311d47 !important;
}

::ng-deep .mat-step-icon-selected {
    background-color: #451580 !important;
}

::ng-deep .mat-step-label-selected .mat-step-text-label {
    font-weight: 600;
    color: #451580;
}

.contenedorHoras {
    justify-content: flex-start;
    gap: 30px;
}

.contenedorHoras .textoFechas {
    margin-bottom: 8px;
    font-size: 16px;
}

.contenedorPrincipalVestuario {
    align-items: baseline;
}

.contenedorColores {
    padding: 12px 12px 0px;
    gap: 40px;
}

.colores {
    gap: 8px;
    margin-top: 2px;
}

.colores i {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 1px;
    margin: 0 !important;
}

.opcionColores span {
    font-size: 11px;
}

.colorPicker {
    width: 26px;
    border: none;
}

.flores img {
    width: 100px;
}

.flores .sinFlores{
    margin-right: 12px;
}

.loading{
    margin-left: 16px;
    color: #aaa;
}

.loading span{
    font-weight: 200;
}

.ajustesGeneralesInputs{
    align-content: flex-start;
    align-items: flex-start;
}

.ajustesGeneralesInputs mat-radio-group{
    width: 100%;
}

.dataContenedor mat-radio-group {
    display: flex;
    gap: 16px;
}

.dataContenedor mat-radio-button{
    display: flex;
}

.tipoTitulos{
    justify-content: flex-start;
    margin-top: 16px;
}

.dataContenedor ::ng-deep .mdc-label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloSeccion {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.tituloSeccion.tipoTitulo2,
.tituloSeccion.tipoTitulo3,
.tituloSeccion.tipoTitulo4 {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
}

.tipoTitulo3,
.tipoTitulo4{
    padding-left: 32px;
    z-index: 9;
    position: relative;
}

.fondoLetrero {
    position: absolute;
    width: 220px;
    height: 70px;
    margin-bottom: 6px;
    fill: #eee;
    top: -20px;
    left: -0;
}

.tituloColor{
    margin: 30px 0 0 8px;
    font-size: 14px;
    font-weight: 600;
}

.inputsColor{
    padding: 8px 0 0;
}

.opcionColor{
    width: 26px;
    height: 26px;
    border-radius: 8px;
}

.colorPicker{
    margin-right: 6px;
}

.tituloImagenesPC{
    margin: 48px 0 0;
    font-size: 18px;
    font-weight: 600;
}

.tituloLadoIzq{
    margin: 8px 0 0 8px;
    font-size: 14px;
    font-weight: 600;
}

.separadorBottom{
    margin: 6px 0 12px;
}


/* VISTA PREVIA */


.mobile-container {
    width: 320px;
    height: 100%;
    background: #000;
    border-radius: 30px;
    padding: 8px;
    border: 4px solid #333;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    container: inline-size;
}

.notch {
    width: 160px;
    /* Ajustado para el ancho del dispositivo */
    height: 20px;
    /* Proporción más pequeña debido a la menor altura */
    background: #000;
    border-radius: 15px 15px 0 0;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notch-camera {
    width: 8px;
    height: 8px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    /* Ajustado para el ancho */
}

.notch-speaker {
    width: 50px;
    height: 5px;
    background: #333;
    border-radius: 3px;
    position: absolute;
}

.screen {
    width: 100%;
    height: calc(100% - 40px);
    /* Resta espacio para el notch */
    background: #fff;
    border-radius: 10px;
    /* Bordes redondeados de la pantalla */
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 8px;
    overflow: auto;
}

.screen app-web-bodas {
    width: 100%;
}