.personalizacion .dataContenedor {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-gap: 40px;
    align-items: start;
    align-content: baseline;
    padding-top: 18px;
    overflow: hidden;
}

.personalizacion .contenedorPreviaWeb {
    position: absolute;
    right: 80px;
    top: 60px;
    height: calc(100% - 110px);
    max-height: 600px;
    container: inline-size;
}

.personalizacion .inputForm {
    overflow: auto;
    height: calc(100% - 16px);
    direction: rtl;
    padding-bottom: 16px;
}

.personalizacion .inputForm ::ng-deep mat-vertical-stepper {
    direction: ltr;
}

.personalizacion .contenedorInputs {
    padding: 12px 0 0;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.personalizacion ::ng-deep .mat-step:first-child {
    padding-top: 8px;
}

.personalizacion ::ng-deep .mat-step:last-child {
    padding-bottom: 8px;
}

.personalizacion ::ng-deep .mat-vertical-stepper-header {
    padding: 8px 24px !important;
}

.personalizacion ::ng-deep .mat-step-icon {
    background-color: #311d47 !important;
}

.personalizacion ::ng-deep .mat-step-icon-selected {
    background-color: #451580 !important;
}

.personalizacion ::ng-deep .mat-step-label-selected .mat-step-text-label {
    font-weight: 600;
    color: #451580;
}

.personalizacion .contenedorHoras {
    justify-content: flex-start;
    gap: 30px;
}

.personalizacion .contenedorHoras .textoFechas {
    margin-bottom: 8px;
    font-size: 16px;
}

.personalizacion .contenedorPrincipalVestuario {
    align-items: baseline;
}

.personalizacion .contenedorColores {
    padding: 12px 12px 0px;
    gap: 40px;
}

.personalizacion .colores {
    gap: 8px;
    margin-top: 2px;
}

.personalizacion .colores i {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 1px;
    margin: 0 !important;
}

.personalizacion .opcionColores span {
    font-size: 11px;
}

.personalizacion .colorPicker {
    width: 26px;
    border: none;
}

.personalizacion .flores img {
    width: 100px;
}

.personalizacion .flores .sinFlores {
    margin-right: 12px;
}

.personalizacion .loading {
    margin-left: 16px;
    color: #aaa;
}

.personalizacion .loading span {
    font-weight: 200;
}

.personalizacion .ajustesGeneralesInputs {
    align-content: flex-start;
    align-items: flex-start;
}

.personalizacion .ajustesGeneralesInputs mat-radio-group {
    width: 100%;
}

.personalizacion .dataContenedor mat-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.personalizacion .dataContenedor mat-radio-button {
    display: flex;
}

.personalizacion .tipoTitulos {
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 12px;
    gap: 24px 20px !important;
}

.personalizacion .dataContenedor ::ng-deep .mdc-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalizacion .tituloSeccion {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.personalizacion .tituloSeccion.tipoTitulo2,
.personalizacion .tituloSeccion.tipoTitulo3,
.personalizacion .tituloSeccion.tipoTitulo4 {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
}

.personalizacion .tipoTitulo3,
.personalizacion .tipoTitulo4 {
    padding-left: 32px;
    z-index: 9;
    position: relative;
}

.personalizacion .fondoLetrero {
    position: absolute;
    width: 220px;
    height: 70px;
    margin-bottom: 6px;
    fill: #eee;
    top: -20px;
    left: -0;
}

.personalizacion .tituloColor {
    margin: 30px 0 0 8px;
    font-size: 14px;
    font-weight: 600;
}

.personalizacion .inputsColor {
    padding: 8px 0 0;
    flex-wrap: wrap;
}

.personalizacion .opcionColor {
    width: 26px;
    height: 26px;
    border-radius: 8px;
}

.personalizacion .colorPicker {
    margin-right: 6px;
}

.personalizacion .tituloImagenesPC {
    margin: 48px 0 0;
    font-size: 18px;
    font-weight: 600;
}

.personalizacion .tituloLadoIzq {
    margin: 8px 0 0 8px;
    font-size: 14px;
    font-weight: 600;
}

.personalizacion .separadorBottom {
    margin: 6px 0 12px;
}


/* VISTA PREVIA */


.personalizacion .mobile-container {
    width: 320px;
    height: 100%;
    background: #000;
    border-radius: 30px;
    padding: 8px;
    border: 4px solid #333;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    container: inline-size;
}

.personalizacion .notch {
    width: 160px;
    /* Ajustado para el ancho del dispositivo */
    height: 20px;
    /* Proporción más pequeña debido a la menor altura */
    background: #000;
    border-radius: 15px 15px 0 0;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.personalizacion .notch-camera {
    width: 8px;
    height: 8px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    /* Ajustado para el ancho */
}

.personalizacion .notch-speaker {
    width: 50px;
    height: 5px;
    background: #333;
    border-radius: 3px;
    position: absolute;
}

.personalizacion .screen {
    width: 100%;
    height: calc(100% - 40px);
    /* Resta espacio para el notch */
    background: #fff;
    border-radius: 10px;
    /* Bordes redondeados de la pantalla */
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 8px;
    overflow: auto;
}

.personalizacion .screen app-web-bodas {
    width: 100%;
}

.personalizacion .textoFiestaNoIncluida {
    color: #ccc;
    font-weight: 200;
    margin-left: 4px;
}

.personalizacion .icoUpload {
    margin: 0;
}

.personalizacion .contenedorImagenesGaleria {
    justify-content: flex-start;
    margin-top: 20px;
    gap: 24px;
    flex-wrap: wrap;
}

.personalizacion .contenedorImagenesGaleria>div {
    background: #fff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    padding: 4px 4px 12px;
}

.personalizacion .contenedorImagenesGaleria img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.personalizacion .contenedorImagenesGaleria i {
    position: absolute;
    z-index: 999;
    top: -8px;
    right: -16px;
    padding: 4px 6px;
    background: #fff;
    border-radius: 16px;
    font-size: 16px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    color: #aaa;
}

.personalizacion .contenedorImagenesGaleria i:hover {
    color: red;
}

@media (max-width:1170px) {
    .personalizacion .contenedorPreviaWeb {
        top: 100px;
        height: calc(100% - 150px);
    }

    .personalizacion .loading span {
        display: none;
    }

    .personalizacion .contenedorInputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .personalizacion .contenedorColores {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 12px;
    }

    .personalizacion .contenedorInputs mat-radio-group {
        grid-column: span 2;
        margin-top: 12px;
    }

    .personalizacion .colores {
        justify-content: flex-start;
    }
}

.personalizacion .botonVerVistaPrevia button {
    display: none;
    height: 22px;
    margin-top: 8px;
    background-color: #471587 !important;
    color: #fff !important;
    font-size: 12px;
}

@media (max-width:1070px) {
    .personalizacion .dataContenedor {
        grid-template-columns: 1fr 340px;
    }

    .personalizacion .contenedorPreviaWeb {
        right: 40px;
    }

    .personalizacion .contenedorInputs {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .personalizacion .contenedorInputs mat-radio-group {
        grid-column: auto;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 12px 0;
    }
}

@media (max-width:860px) {
    .personalizacion .dataContenedor {
        height: calc(100vh - 190px);
        grid-template-columns: 1fr;
    }

    .personalizacion .contenedorPreviaWeb {
        display: none;
    }

    .personalizacion .encabezado .titulo {
        align-items: flex-start;
    }

    .personalizacion .botonVerVistaPrevia button {
        display: flex;
    }

    .personalizacion .contenedorInputs,
    .personalizacion .contenedorColores {
        grid-template-columns: 1fr 1fr;
    }

    .personalizacion .contenedorInputs mat-radio-group {
        grid-column: span 2;
    }

}

@media (max-width:710px) {

    .personalizacion .contenedorInputs,
    .personalizacion .contenedorColores {
        grid-template-columns: 1fr;
    }

    .personalizacion .contenedorInputs mat-radio-group {
        grid-column: auto;
    }
}

@media (max-width:470px) {
    .personalizacion .dataContenedor {
        grid-template-columns: 1fr;
    }

    .personalizacion .encabezado .titulo {
        margin-left: 40px;
    }
}

@media (max-width:380px) {
    .personalizacion ::ng-deep .mat-vertical-content-container {
        margin-left: 8px;
    }

    .personalizacion .encabezado .titulo .texto .descripcion {
        font-size: 10px;
        line-height: 1;
        margin-top: 4px;
    }

    .personalizacion .icoVestuario i {
        font-size: 14px;
        margin-right: 8px;
    }

    .personalizacion .colores {
        gap: 4px;
        flex-wrap: wrap;
        width: calc(100% - 24px);
    }

    .personalizacion ::ng-deep .mat-step-text-label {
        font-size: 14px;
    }

    .personalizacion ::ng-deep .mat-step-text-label>div {
        justify-content: flex-start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .personalizacion .loading {
        display: none;
    }
}