<div class=popUp>
    <div class="contenedorTituloPopUp">
        <span *ngIf="listaInvitados?.length > 0">{{dataWeb.WebBodas.confirmacionInvitados.titulo}}</span>
        <i class="cerrar fas fa-times" (click)="cerrar()"></i>
    </div>
    <div class="contenedorConfirmarAsistencia flex flexColumn">
        <ng-container *ngIf="usarGoogleForms; else listaEnApp">
            <iframe class="conteneforForm"
            [src]="linkForm" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </ng-container>
        <ng-template #listaEnApp>
            <ng-container *ngIf="!loading; else loader">
            
            <ng-container *ngIf="listaInvitados?.length > 0 && !mostrarCompletado; else todosConfirmados">
                <mat-form-field class="listaInvitados" appearance="outline" subscriptSizing="dynamic">
                    <mat-label>{{dataWeb.Invitados.configuracion.listaInvitados}}</mat-label>
                    <mat-select [panelWidth]="300" [(ngModel)]="dataConfirmacion.invitado" multiple>
                        <mat-optgroup *ngFor="let familia of listaInvitados" [label]="familia.nombre">
                            <i class="fas fa-users"></i>
                            <mat-option *ngFor="let invitado of familia.invitados" [value]="invitado">
                                {{invitado.nombre}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>

                <div class="flex flexColumn decisionAsistencia">
                    <p>{{dataConfirmacion.invitado?.length > 1 ? dataWeb.Invitados.configuracion.preguntaAsistenciaGrupo : dataWeb.Invitados.configuracion.preguntaAsistencia}}</p>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="dataConfirmacion.asistencia">
                        <mat-radio-button value="1">{{dataWeb.Invitados.configuracion.si}}</mat-radio-button>
                        <mat-radio-button value="2">{{dataWeb.Invitados.configuracion.no}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="flex flexColumn infoAdicional">
                    <p>{{dataWeb.Invitados.configuracion.infoAdicional}}</p>
                    <mat-form-field class="infoAdicionalInvitado" appearance="outline" subscriptSizing="dynamic">
                        <mat-label>{{dataWeb.Invitados.configuracion.infoAdicionalInvitado}}</mat-label>
                        <textarea matInput placeholder="{{dataWeb.WebBodas.confirmacionInvitados.ingreseAqui}}" [(ngModel)]="dataConfirmacion.infoAdicional"></textarea>
                    </mat-form-field>
                </div>

                <button class="botonConfirmacion" mat-raised-button color="primary" (click)="enviar()" [disabled]="!dataConfirmacion.invitado || !dataConfirmacion.asistencia">{{'Invitados.tituloBoton' | translate}}</button>
            </ng-container>
            </ng-container>
        </ng-template>
    </div>
</div>

<ng-template #todosConfirmados>
    <i class="icoConfirmados fas fa-glass-cheers animate__animated animate__tada animate__infinite animate__delay-1s animate__slow"></i>
    <p class="tituloGraciasConfirmacion cursiva">{{dataWeb.Invitados.configuracion.graciasConfirmados}}</p>
    <p class="invitadosConfirmados">{{dataWeb.Invitados.configuracion.todosConfirmados}}</p>
</ng-template>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

