.contenedorGeneral {
    background: #fafafa;
    --backgroundVestuario: #ebffe5;
    --backgroundConfirmacion: #ffa6a6;
    overflow: hidden;
}

/* ENCABEZADO */

.encabezado {
    position: relative;
    height: 100vh;
}

.imgPrincipal {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(0.9);
}

.dataInfo {
    position: absolute;
    bottom: 30px;
    color: #fff;
    width: 100%;
    height: 100%;
}

.dataInfo>div {
    display: flex !important;
}

.dataInfo img {
    height: 95vh;
    width: 95vw;
    object-fit: contain;
}

.dataInfo .nombreEl,
.dataInfo .nombreElla {
    font-size: 140px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .7);
}

.dataInfo .conectorNombres {
    font-size: 60px;
    line-height: 12px;
}

.contenedorFlores {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.contenedorFlores img {
    position: absolute;
}

.contenedorFlores .imgArribaIzq {
    top: 0;
    left: 0;
}

.contenedorFlores .imgArribaDer {
    top: 0;
    right: 0;
}

.contenedorFlores .imgAbajoDer {
    bottom: 0;
    right: 0;
}

.contenedorFlores .imgAbajoIzq {
    bottom: 0;
    left: 0;
}

.scrollAbajo {
    bottom: -50px;
    position: absolute;
    left: calc(50% - 25px);
    color: #fff;
    font-size: 50px;
}

.encabezado svg {
    position: absolute;
    z-index: auto;
    left: 0;
    bottom: 0;
    transform: rotate(180deg);
    width: 100%;
    height: 120px;
    fill: #FFFFFF;
}

.contenedorEslogan {
    position: relative;
    min-height: 150px;
    padding-top: 40px;
    background: #fff;
}

.contenedorEslogan .eslogan {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.comillaIni {
    color: #ccc;
    font-size: 24px;
    margin-right: 12px;
}

.comillaFin {
    color: #ccc;
    font-size: 24px;
    margin-right: 0;
    margin-left: 12px;
}

.contenedorEslogan .eslogan .autor {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: right;
    letter-spacing: 2px;
    line-height: 26px;
}

/* CONTEO REGRESIVO */

.contenedorConteoRegresivo {
    position: relative;
    background: #fff;
}

.contenedorConteoRegresivo .fechaBoda {
    padding: 40px 0;
}

.contenedorConteoRegresivo .fechaSup{
    padding-bottom: 24px;
}

.contenedorConteoRegresivo .fechaInf {
    padding-top: 24px;
}

.contenedorConteoRegresivo .fechaBoda .dia {
    font-size: 120px;
    margin: 0;
    text-align: center;
    line-height: 140px;
    padding-left: 16px;
}

.contenedorConteoRegresivo .fechaBoda .mes {
    font-family: 'Allison';
    font-size: 100px;
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.contenedorConteoRegresivo .fechaBoda .year {
    font-size: 20px;
    margin: 0;
    line-height: 50px;
    text-align: right;
    letter-spacing: 12px;
    color: #d2cdcd;
    width: 250px;
}

.contenedorConteoRegresivo .conteo {
    width: 100%;
    margin: 24px 0 40px;
}

.contenedorConteoRegresivo .conteo .valorRegresivo {
    padding: 12px 24px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    width: 60px;
}

.contenedorConteoRegresivo .conteo .valorRegresivo .titulo {
    font-size: 12px;
}

.contenedorConteoRegresivo .conteo .valorRegresivo .valor {
    font-size: 40px;
    font-weight: 500;
}

.imgsBordes{
    position: absolute;
    z-index: 99999;
}

.imgIzq {
    top: -70px;
    left: 0;
}

.imgDer{
    right: 0;
    bottom: -50px;
}

/* CEREMONIA */

.contenedorCeremonia {
    padding: 80px 0 160px;
    position: relative;
    background: #fff;
}

.contenedorCeremonia .contenedorHora,
.contenedorCeremonia .contenedorLugar {
    margin: 0 12px;
}

.contenedorCeremonia .contenedorHora .tituloHora,
.contenedorCeremonia .contenedorLugar .tituloLugar {
    margin: 0;
    font-size: 18px;
    font-weight: 200;
}

.contenedorCeremonia .contenedorHora .datoHora,
.contenedorCeremonia .contenedorLugar .datoLugar {
    margin: 0 30px 12px;
    font-size: 34px;
    font-weight: 800;
}

.contenedorCeremonia .contenedorHora button,
.contenedorCeremonia .contenedorLugar button {
    font-size: 14px;
    margin-top: 12px;
}

.opcionAgenda ::ng-deep .mat-mdc-menu-item-text,
.opcionAgenda ::ng-deep .mat-mdc-menu-item-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.opcionAgenda i {
    font-size: 20px;
    margin: 0 10px 0 2px;
}

.opcionAgenda img {
    margin-right: 6px;
}

.opcionAgenda img.imgMicrosoft {
    width: 16px;
    margin: 0 8px 0 2px;
}

.opcionAgenda img.imgWaze {
    width: 30px;
    margin-right: 2px
}

.opcionAgenda img.imgGoogleMaps {
    width: 22px;
    margin-left: 6px;
}

.tituloSeccion {
    font-size: 120px;
    margin: 0;
}

.icoSeccion {
    font-size: 90px;
    line-height: 1px;
    padding-left: 70px;
    color: #e6e6e6;
}

/* VESTUARIO */

.contenedorCodigoVestuario {
    padding: 12px 0 50px;
    position: relative;
    background: url('/assets/imgs/fondo.svg');
    background-color: var(--backgroundVestuario);
    background-attachment: inherit;
    background-repeat: inherit;
    background-size: 30px;
    background-blend-mode: overlay;
}

.contenedorCodigoVestuario .imgIzq,
.contenedorCodigoVestuario .imgDer{
    opacity: .2 !important;
}

.contenedorCodigoVestuario .separadorTop {
    transform: rotate(180deg);
    top: -80px;
    position: absolute;
    fill: var(--backgroundVestuario);
    width: 100%;
    height: 80px;
}

.contenedorCodigoVestuario .separadorBottom {
    bottom: -60px;
    position: absolute;
    fill: var(--backgroundVestuario);
    width: 100%;
    height: 80px;
    z-index: 999;
}

.contenedorCodigoVestuario .contenedor {
    align-items: baseline;
}

.contenedorCodigoVestuario .icoSeccion {
    line-height: 100px;
    color: #000000;
    opacity: 0.1;
}

.contenedorCodigoVestuario .tituloSeccion {
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.contenedorCodigoVestuario .primerTitulo {
    font-size: 22px;
    padding-left: 140px;
}

.contenedorCodigoVestuario .cursiva {
    line-height: 18px;
}

.contenedorCodigoVestuario .grupo {
    margin-bottom: 20px;
}

.contenedorCodigoVestuario .grupo .cursiva {
    font-size: 80px;
    margin: 34px 0;
    position: relative;
}

.contenedorCodigoVestuario .grupo i {
    color: #e60023;
    font-size: 20px;
    position: absolute;
    top: 0;
    padding-left: 16px;
    cursor: pointer;
}

.contenedorCodigoVestuario .grupo span {
    padding-left: 24px;
    font-size: 14px;
    font-weight: 200;
}

.contenedorCodigoVestuario .tenPresente {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    opacity: 0.2;
}

.contenedorCodigoVestuario .notaGeneral {
    padding-left: 24px;
    font-size: 12px;
    font-weight: 600;
}

.contenedorCodigoVestuario .notaGeneral i {
    font-size: 14px;
}

/* REGALOS */

.contenedorRegalos {
    padding: 140px 0;
    position: relative;
    background: #fff;
}


.contenedorRegalos .icoSeccion {
    line-height: 100px;
}

.contenedorRegalos .tituloSeccion {
    padding-bottom: 40px;
}

.contenedorRegalos .primerTitulo {
    font-size: 22px;
    padding-left: 140px;
}

.contenedorRegalos .cursiva {
    line-height: 14px;
}

.contenedorRegalos .contenedor {
    width: 400px;
}

.contenedorRegalos .contenedor span {
    font-size: 21px;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 40px;
    font-weight: 100;
}

.contenedorRegalos .contenedor .cursiva {
    font-size: 70px;
    margin: 24px 0 0;
}


/* CONFIRMACION ASISTENCIA */

.confirmacionInvitados {
    padding: 80px 0;
    position: relative;
    background: #ffa6a6;
}

.confirmacionInvitados .separadorTop {
    transform: rotate(180deg);
    top: -80px;
    position: absolute;
    fill: var(--backgroundConfirmacion);
    width: 100%;
    height: 80px;
}

.confirmacionInvitados .icoSeccion {
    line-height: 100px;
}

.confirmacionInvitados .tituloSeccion {
    padding-bottom: 40px;
}

.confirmacionInvitados .primerTitulo {
    font-size: 22px;
    padding-left: 140px;
}

.confirmacionInvitados .cursiva {
    line-height: 14px;
}

.confirmacionInvitados .contenedor {
    margin-bottom: 40px;
}

.confirmacionInvitados .textoGracias {
    margin: 30px 0 12px;
    font-size: 18px;
    font-weight: 400;
}

.confirmacionInvitados .textoGracias2 {
    width: 520px;
    max-width: 95vw;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 24px;
}