<div class="contenedorPrincipal">
    <div class="encabezado">
        <img class="imgEncabezado" src="assets/imgs/paginaPrincipal.jpg" alt="Principal">
        <div class="opcionesMenu flex">
            <span>{{'Inicio.menu.inicio' | translate}}</span>
            <span>{{'Inicio.menu.caracteristicas' | translate}}</span>
            <span>{{'Inicio.menu.precios' | translate}}</span>
            <span>{{'Inicio.menu.redes' | translate}}</span>
        </div>
        <div class="textoEncabezado flex flexColumn">
            <img class="logo" src="assets/imgs/logo2.svg" alt="Logo">
            <p class="tituloPrincipal flex flexColumn">
                <span class="textoPrincipal1">{{'Inicio.textoPrincipal' | translate}}</span>
                <span class="frasePrincipal cursiva">{{'Inicio.frasePrincipal' | translate}}</span>
                <span class="textoPrincipal2">{{'Inicio.textoPrincipalFinal' | translate}}</span>
            </p>
            <div class="flex flexColumn">
                <p class="descripcion">{{'Inicio.descripcionAccion' | translate}}</p>
                <div class="flex flexColumn contenedorAcciones">
                    <button class="accion1 animate__animated animate__tada animate__infinite animate__delay-1s animate__slow">{{'Inicio.accion1' | translate}}</button>
                    <button class="accion2">{{'Inicio.accion2' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="historiaCorta flex">
        <div class="contenedorImgHistoria relative">
            <img class="imgHistoria" src="assets/imgs/historia.jpg" alt="imgHistoria">
        </div>
        <div class="flex flexColumn contenedorHistoriaTexto">
            <p class="textoHistoria cursiva">{{'Inicio.historiaCorta' | translate}}</p>
            <p class="textoHistoria2">{{'Inicio.historiaCorta2' | translate}}</p>
            <p class="textoHistoria3">{{'Inicio.historiaCorta3' | translate}}</p>
        </div>
    </div>

    <div class="contenedorIncluye flex flexColumn">
        <p class="textoHistoria cursiva">{{'Inicio.queIncluye' | translate}}</p>
        <div class="subcontenedorIncluye">
            <div class="infoIncluye" *ngFor="let info of listaInfoIncluye, let i=index">
                <div class="info flex flexColumn">
                    <i class="{{info.icono}}"></i>
                    <p class="tituloInfo">{{info.titulo | translate}}</p>
                    <span class="descripcionInfo">{{info.detalle | translate}}</span>
                </div>
            </div>
        </div>
        <svg class="fondoIncluye" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveAspectRatio="none">
            <path
                d="M0 253L82 319L164 295L245 283L327 241L409 259L491 307L573 253L655 307L736 343L818 331L900 289L900 131L818 119L736 113L655 125L573 107L491 125L409 83L327 101L245 131L164 89L82 137L0 113Z"
                opacity="0.3"></path>
            <path
                d="M0 313L82 385L164 385L245 343L327 331L409 319L491 379L573 355L655 379L736 415L818 397L900 385L900 287L818 329L736 341L655 305L573 251L491 305L409 257L327 239L245 281L164 293L82 317L0 251Z"
                opacity="0.5"></path>
            <path
                d="M0 523L82 523L164 535L245 529L327 553L409 547L491 517L573 523L655 511L736 529L818 511L900 553L900 383L818 395L736 413L655 377L573 353L491 377L409 317L327 329L245 341L164 383L82 383L0 311Z"
                opacity="0.7"></path>
            <path
                d="M0 601L82 601L164 601L245 601L327 601L409 601L491 601L573 601L655 601L736 601L818 601L900 601L900 551L818 509L736 527L655 509L573 521L491 515L409 545L327 551L245 527L164 533L82 521L0 521Z">
            </path>
        </svg>
    </div>
</div>